<!-- <p>server works!</p> -->
<!-- <p>{{server}}</p>
<div class="container-fluid ">
    <h1>Hello world</h1>
    <button class="btn btn-primary" (click)="createServer()">create server</button>
    <div class="odd" *ngFor = "let ser of servers"
    [ngClass] = "{odd: ser%2===0}"
    >
        {{ser}}
    </div>

</div> -->
    <div class="row">
        <div class="col-md-3">
            {{element.name}}
        </div>
        <div class="col-md-3">
            {{element.type}}
        </div>
        <div class="col-md-3">
            {{element.count}}
        </div>

    </div>
